
  <!--<div class="row">
    <div class="col-sm-8"><app-selection-criteria></app-selection-criteria></div>

  </div>
  <div class="row">
    <div class="col-sm"><app-map></app-map></div>
    <div class="col-sm"><app-track-details></app-track-details>col-sm</div>
  </div>-->
  <div>
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

